.userlist{
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.781);
    height: 100vh;
    width: 350px;
    padding-left: 50px;
    font-family: 'PoiretOne';
    color: #fff;
    a{
        text-decoration: none;
        color: #fff;
        .mylist{
            font-style: italic;
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            font-size: 25px;
            margin: 20px 0 20px 0;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

.toggle__arrow__open,.toggle__arrow__close{
    position: absolute;
    right: -40px;
    top: 30px;
    img{
        height: 40px;
    }
}

.toggle__arrow__close{
    transform: rotate(-180deg)
}

.open{
    left: 0;
}

.close{
    left: -400px;
}

@media screen and (max-width: 767px){
    .userlist{
        width: 190px;
        padding-left: 30px;
    }
    .close{
        left: -220px;
    }
}