@font-face {
    font-family: 'Roboto Regular';
    src: url('./Roboto_Regular/RobotoSlab-Regular.eot');
    src: url('./Roboto_Regular/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Roboto_Regular/RobotoSlab-Regular.woff2') format('woff2'),
        url('./Roboto_Regular/RobotoSlab-Regular.woff') format('woff'),
        url('./Roboto_Regular/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('./Montserrat_Regular/Montserrat-Regular.eot');
    src: url('./Montserrat_Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Montserrat_Regular/Montserrat-Regular.woff2') format('woff2'),
        url('./Montserrat_Regular/Montserrat-Regular.woff') format('woff'),
        url('./Montserrat_Regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./OpenSans/OpenSans-CondensedLight.eot');
    src: url('./OpenSans/OpenSans-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('./OpenSans/OpenSans-CondensedLight.woff2') format('woff2'),
        url('./OpenSans/OpenSans-CondensedLight.woff') format('woff'),
        url('./OpenSans/OpenSans-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('./FiraSans-Regular/FiraSans-Regular.eot');
    src: url('./FiraSans-Regular/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('./FiraSans-Regular/FiraSans-Regular.svg#FiraSans-Regular') format('svg'),
         url('./FiraSans-Regular/FiraSans-Regular.ttf') format('truetype'),
         url('./FiraSans-Regular/FiraSans-Regular.woff') format('woff'),
         url('./FiraSans-Regular/FiraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato-Light';
    src: url('./Lato-Light/Lato-Light.eot');
    src: url('./Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('./Lato-Light/Lato-Light.svg#Lato-Light') format('svg'),
         url('./Lato-Light/Lato-Light.ttf') format('truetype'),
         url('./Lato-Light/Lato-Light.woff') format('woff'),
         url('./Lato-Light/Lato-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PoiretOne';
    src: url('./PoiretOne/PoiretOne-Regular.eot');
    src: url('./PoiretOne/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
         url('./PoiretOne/PoiretOne-Regular.svg#PoiretOne-Regular') format('svg'),
         url('./PoiretOne/PoiretOne-Regular.ttf') format('truetype'),
         url('./PoiretOne/PoiretOne-Regular.woff') format('woff'),
         url('./PoiretOne/PoiretOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  
  