.userPage__deals{
    &-info{
        font-family: 'Montserrat Regular';
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        color: rgba(0, 0, 0, 0.61);
        font-size: 15px;
        ul{
            padding: 0;
            text-align: center;
            flex-basis: 60%;
            li{
                padding: 5px;
                margin: 10px;
                display: inline;
            }
        }
        span{
            flex-basis: 20%;
            text-align: center;
            padding: 0;
        }
        .bg_one{
            position: absolute;
            width: 488px;
            height: 5px;
            background: #fff;
            left: 4px;
            bottom: -7px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            border-right: 1px solid rgba(199, 177, 177, 0.322);
            border-left: 1px solid rgba(199, 177, 177, 0.322);
        }
        .bg_two{
            position: absolute;
            width: 476px;
            height: 5px;
            background: #fff;
            left: 8px;
            bottom: -13px;
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            border-right: 1px solid rgba(199, 177, 177, 0.322);
            border-left: 1px solid rgba(199, 177, 177, 0.322);
        }
    }
}

@media screen and (max-width: 767px){
    .userPage__deals{
        &-info{
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 10px;
            font-size: 15px;
            span{
                flex-basis: 45%;
                order: 2;
            }
            ul{
                flex-basis: 100%;
                text-align: center;
                order: 1;
            }
            &-clear{
                flex-basis: 45%;
                order: 3;
            }
            .bg_one{
                width: 337px;
                height: 4px;
                bottom: -6px;
            }
            .bg_two{
                width: 329px;
                height: 4px;
                bottom: -11px;
            }
        } 
    }
}